<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724164965314-l98d1m0ttk4tnt6dveqp60haas9rd2jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724164965314-l98d1m0ttk4tnt6dveqp60haas9rd2jp</string>
	<key>API_KEY</key>
	<string>AIzaSyBSrM3VIHiyjz2jrvA0BxznGeOw_ZFrzFM</string>
	<key>GCM_SENDER_ID</key>
	<string>724164965314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.belajar.fitHelpApp</string>
	<key>PROJECT_ID</key>
	<string>fit-help-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-help-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724164965314:ios:c1c5cdf6d237e692731c5b</string>
</dict>
</plist>